---
---
.navbar {
  .name-link{
    background-color: black;
    color: white;
    font-weight: bold;
  }
}
.introduction {
  margin-top: 30px;
  .mini-bio {
    color: darkgrey;
    p {
      margin: 10px 0px;
    }
  }
}
  
     