---
title: Etienne Baqué
layout: default
---

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Etienne Baqué
      </h1>
      <h2 class="subtitle">
        Software developer
      </h2>
    </div>
  </div>
</section>

<section class="introduction">
  <div class="container">
    <div class="columns is-mobile no-right-margin">
      <div class="column is-10 is-offset-1 mini-bio">
        <p>
        Originally from France, I'm currently living in Toronto, Canada, with my partner Heather and my daughters Mila and Margot.
        </p>

        <p>
                        
        I've been working with the lovely folks of <a href="https://about.gitlab.com/" target="_blank">GitLab</a> since June 2019.

        </p>

        <p>
        You can check out more about me below.
        </p>
        <p>
        Let's chat!
        </p> 
      </div>
    </div>
  </div>
</section>

<section class="skills">
  <div class="columns is-mobile no-right-margin">
    <div class="column is-offset-2 is-8 skill-title">
      <h3>What I'm currently working with</h3>

      <nav class="level icons">
        <div class="level-item has-text-centered">
          <div class="skill">
            <p class="heading devicons devicons-ruby_on_rails"></p>
            <p class="title">Ruby on Rails</p>
          </div>
          <div class="skill">
            <p class="heading devicons devicons-ember"></p>
            <p class="title">Ember</p>
          </div>
          <div class="skill">
            {% include elasticsearch.svg %}
            <p class="title">Elasticsearch</p>
          </div>
          <div class="skill">
            <p class="heading devicons devicons-git"></p>
            <p class="title">Git</p>
          </div>
        </div>
      </nav>

      <p class="goto-cv">
      Want to know more? <a href="{{ site.url}}/cv">Check out my CV!</a>
      </p>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="columns no-right-margin">
      <div class="column is-offset-2 is-8">
        {% include contact.html %}
      </div>
    </div>
  </div> 
</section>
