<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="name" content="Etienne Baqué's website">
        <meta name="keywords" content="Web development,Software,Developer,CV,French,Canada">
        <meta name="author" content="Etienne Baqué">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
        <link rel="stylesheet" href="/css/general.css" type="text/css">
        <link href='//cdn.jsdelivr.net/npm/devicons@1.8.0/css/devicons.min.css' rel='stylesheet'>
        
        <script src="https://use.fontawesome.com/d6356a54a4.js"></script>        
        <script src="/js/general.js"></script>

        <title>Etienne Baqué</title>
    </head>
    
    <body>
        {% include navigation.html %}

        {{ content }}

        {% include footer.html %}
    </body>
</html>
